body, html{
    font-family: 'Roboto', sans-serif;
    overflow:hidden;
}

td.myrte{
padding-left:15px;
padding-right:15px;
text-align:center;    
}

td.myrte2{
padding-left:5px;
padding-right:5px;
text-align:center;
}


.mcbox{ 
    padding:0 auto;
    margin:0 auto;
    background:url(/images/photo-1441484295955-db07de1fdbad.jpeg) no-repeat;
    background:url(https://images.unsplash.com/photo-1434064511983-18c6dae20ed5?crop=entropy&fit=crop&fm=jpg&h=850&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1300) no-repeat;
    
    
/*    background:url(http://i.imgur.com/upaf5C3.gif) no-repeat;*/
    
/*    background:url(https://media.giphy.com/media/wfzmCx4IWvxMQ/giphy.gif) no-repeat;*/
    
/*https://media.giphy.com/media/wfzmCx4IWvxMQ/giphy.gif*/
/*    http://www.gizmodo.in/photo/46691503.cms*/
    
    background:url(images/bg.gif) no-repeat; 
    background position: relative;
    background-size: 100% 100%;
    height:100%;
    position:fixed;width:100%;
}


.effect-moveleft {
    background:url(https://static.pexels.com/photos/30732/pexels-photo-30732-medium.jpg) no-repeat;
    
    background:url(images/qYpYJAU.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    
}

.overlay0{
    background-color:transparent;
    color:#FFFFFF;
    font-size:11pt;
    letter-spacing:2px;
    margin-top:250px;
    height:200px;
    text-align:center;
}

.overlay0 h2 {
    color:white;
    letter-spacing:10px;
    font-weight:100;
    text-align:center;
    font-size:36pt;
    text-shadow:4px 4px 5px rgba(5,5,5,0.4);
}

.overlay0 h3 {
     color:white;
    letter-spacing:2px;
    font-weight:100;
    text-align:center;
    font-size:11pt;
    margin-top:-25px;
    text-shadow:2px 2px #3eb489;
        text-shadow:4px 4px 5px rgba(5,5,5,1);
    
}


.overlay1{
    height:1750px;
    background-color:#FFFFFF;
    width:100%;
   
}


.overlay2{
    color:white;
    text-align:center;
    margin-top:50px;
    background-color:transparent;
    
}


button{
    border:2px solid transparent;
    background-color:rgba(255,255,255,0.8);
    padding:15px 55px;
    border-radius:2px;
    letter-spacing:6px;
    color:#333;;
    text-decoration:none;
    display:inline-block; 
    margin-top:20px;
    margin-right:20px;
    border-radius:5px;
    
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    
    outline:none !important;
}

button:hover{
    color:#333;
    color:#CFB53B; /* gold */
    background-color:#FFFFFF;
    
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

button:active{
    background-color:rgba(255,255,255,0.5);
    /*position:relative;
    top:2px;
    */
}

a.showmore2{
    border:2px solid transparent;
    background-color:rgba(0,0,0,0.5);
    padding:15px 55px;
    border-radius:2px;
    letter-spacing:6px;
    color:white;
    text-decoration:none;
    display:inline-block; 
    margin-top:60px;
    border-radius:5px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

a.showmore2:hover{
   /*
    border-color:#333;
    border-color:#00b271;
    border-color:#ff406d;
    */
    
   background-color:rgba(70,70,70,1);

    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}


.linkspace{
    margin-top:-17px;
}



div.portfoliobox{
    border:2px solid #e5e5e5;
    border-radius:5px;
    height:400px;
    width:350px;
    display:inline-block;
    margin-left:10px;
    margin-right:10px ;
    margin-bottom:25px;
    overflow:;
    background-color:white;
    
    -webkit-box-shadow: 0px 2px 16px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow:    0px 2px 16px 0px rgba(50, 50, 50, 0.15);
    box-shadow:         0px 2px 16px 0px rgba(50, 50, 50, 0.15);
    
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    
}


div.portfoliobox:hover{
    -webkit-box-shadow: 0px 2px 16px 0px rgba(207, 181, 59, 0.55);
    -moz-box-shadow:    0px 2px 16px 0px rgba(207, 181, 59, 0.55);
    box-shadow:         0px 2px 16px 0px rgba(207, 181, 59, 0.55);
    border-color:#f0e5ae;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

div.portfoliobox img{
    width:100%;
    height:50%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
   
}

div.closer{
    margin-left:25px;
    margin-right:25px;
    
    width:auto;
}


.popup2{
overflow:scroll;
white-space:nowrap;

}

p.firstpara{
    color:#333;
    padding-left:20px;
    padding-right:20px;
    font-size:9pt;
    white-space: normal;
    
    
}

p.secondpara{
    color:#333;
    padding-left:20px;
    padding-right:20px;
    font-size:9pt;
    text-transform:uppercase;
    white-space: normal !important;
}

td.rmx{
    vertical-align: top; /* add vertical align top to fix this issue */
    display: table-cell;
    padding: 0px;
    border: none;
}

table.portboxes{
    margin-left:10px;
    margin-right:10px;
}



a.portlinks{
    color:#CFB53B;
    text-decoration:none;
    letter-spacing:2px;
}

a.portlinks:hover{
    text-decoration:underline;
}

::selection {
    background: #CFB53B;color:white;
}



::-moz-selection {
    background: #CFB53B;color:white;
}